{{!-- The following component displays Ember's default welcome message. --}}
{{welcome-page}}
<h1>Chef Tracker</h1>
<ul>
  {{#each model as |chefname|}}
    {{#if chefname.cookingToday}}
      <li class="available">
        {{chefname.name}}!
        <button {{action 'makeUnavailable' chefname}}>Exit</button>
      </li>
    {{else}}
      <li class="unavailable">
        {{chefname.name}}
        <button {{action 'makeAvailable' chefname}}>Enter</button>

      </li>
    {{/if}}
  {{/each}}
</ul>

{{outlet}}
